<a href="https://colab.research.google.com/github/Claudio890/SQL/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lesson 4 - Looping

In [ ]:
#Q1 Create a list that holds 5 data variables
soccerteams=['Chelsea','Manchester United','Napoli','Valencia','PSG']
print(soccerteams)

['Chelsea', 'Manchester United', 'Napoli', 'Valencia', 'PSG']

In [ ]:
#Q2 Print out those variables by using a for loop
for teams in soccerteams:
    print(teams)

Chelsea
Manchester United
Napoli
Valencia
PSG

In [ ]:
#Q3 Modify your for loop to add a message to your for loop
for teams in soccerteams:
    print(teams + ' ' + "is a great team" + "\n")
print("I hope I will get to watch them playing at the stadium one day")

Chelsea is a great team

Manchester United is a great team

Napoli is a great team

Valencia is a great team

PSG is a great team

I hope I will get to watch them playing at the stadium one day

In [ ]:
#Q4 Use a for loop to print even numbers from 1-20
for num in range (0,21, 2):
  print(num)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
#Q5 Sort your list in alphabetic order
print(soccerteams)
soccerteams.sort()
print(soccerteams)

['Chelsea', 'Manchester United', 'Napoli', 'Valencia', 'PSG']
['Chelsea', 'Manchester United', 'Napoli', 'PSG', 'Valencia']

In [ ]:
#Q6 Print out the first three elements of your list
print(soccerteams[0:3])

['Chelsea', 'Manchester United', 'Napoli']

In [ ]:
#Q7 Create a loop to print the last 2 elements of your list
print(soccerteams[-2:])

['PSG', 'Valencia']